### Content Based Recommendation System

In [1]:
import numpy as np
import pandas as pd

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

from warnings import filterwarnings
filterwarnings('ignore')

### Read the Dataset `movies_metadata.csv`

In [2]:
df = pd.read_csv('movies_metadata.csv')

In [3]:
df.shape

(45466, 24)

In [4]:
df.head(3)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
adult                    45466 non-null object
belongs_to_collection    4494 non-null object
budget                   45466 non-null object
genres                   45466 non-null object
homepage                 7782 non-null object
id                       45466 non-null object
imdb_id                  45449 non-null object
original_language        45455 non-null object
original_title           45466 non-null object
overview                 44512 non-null object
popularity               45461 non-null object
poster_path              45080 non-null object
production_companies     45463 non-null object
production_countries     45463 non-null object
release_date             45379 non-null object
revenue                  45460 non-null float64
runtime                  45203 non-null float64
spoken_languages         45460 non-null object
status                   45379 non-null object
tagline                  20412 non-null object
title                    45460 non-null object
video                    45460 non-null object
vote_average             45460 non-null float64
vote_count               45460 non-null float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [6]:
df.isna().sum()

adult                        0
belongs_to_collection    40972
budget                       0
genres                       0
homepage                 37684
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   5
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
video                        6
vote_average                 6
vote_count                   6
dtype: int64

**There are columns which has null values**

In [7]:
df[df['overview'].isna() == True].shape

(954, 24)

In [8]:
df[df['tagline'].isna() == True].shape

(25054, 24)

In [9]:
df[(df['overview'].isna() == True) & (df['tagline'].isna() == True)].shape

(946, 24)

### Inference:
    Individually column 'overview' has null values for 954 datasets & column 'tagline' has null values for 25054 datasets.
    In the given dataset, combinely both 'ovreview' & 'tagline' has null values for 946 datasets

**Handle the null values for 'overview' & 'tagline' with empty space**

In [10]:
df['overview'].replace(np.nan,' ',inplace=True)
df['tagline'].replace(np.nan,' ',inplace=True)

In [11]:
df.isna().sum()

adult                        0
belongs_to_collection    40972
budget                       0
genres                       0
homepage                 37684
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                     0
popularity                   5
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                      0
title                        6
video                        6
vote_average                 6
vote_count                   6
dtype: int64

### Create a new column with name 'description' combining `'overview' and 'tagline'` columns in the given dataset

In [12]:
df['description'] = df['overview'] + df['tagline']

In [13]:
df['overview'].str.isspace().sum()

959

In [14]:
df['tagline'].str.isspace().sum()

25055

In [15]:
df['description'].str.isspace().sum()

951

In [16]:
df[df['description'].str.isspace()==True].sample(5)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,description
31560,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,169069,tt2573226,it,Studio illegale,,...,0.0,0.0,[],Released,,Studio illegale,False,4.3,9.0,
33068,False,NaN,0,[],NaN,154671,tt0157153,sv,Vem älskar Yngve Frej?,,...,0.0,104.0,"[{'iso_639_1': 'sv', 'name': 'svenska'}]",Released,,Vem älskar Yngve Frej?,False,8.0,1.0,
40631,False,NaN,0,[],NaN,73160,tt1205903,pt,Bellini e o Demônio,,...,0.0,120.0,"[{'iso_639_1': 'pt', 'name': 'Português'}]",Released,,Bellini e o Demônio,False,4.0,1.0,
25912,False,NaN,0,[],NaN,58189,tt0110808,it,Perdiamoci di vista!,,...,0.0,0.0,[],Released,,Perdiamoci di vista!,False,6.3,11.0,
19951,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,64362,tt0246278,fr,"Oui, mais...",,...,0.0,104.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,,"Oui, mais...",False,6.9,5.0,

### Lets drop the null values in `description` column

Please refer the In[7] - In[16] where the null values are handled at column wise and combined as new column named 'description'

### Keep the first occurance and drop duplicates of each title in column `title`

In [17]:
df['title'].value_counts()

Cinderella                                    11
Hamlet                                         9
Alice in Wonderland                            9
Les Misérables                                 8
Beauty and the Beast                           8
Blackout                                       7
Treasure Island                                7
The Three Musketeers                           7
A Christmas Carol                              7
The Hound of the Baskervilles                  6
The Journey                                    6
Aftermath                                      6
Bluebeard                                      6
The Stranger                                   6
Mother                                         6
Wuthering Heights                              6
King Lear                                      6
The Hunters                                    6
First Love                                     6
Love                                           6
Countdown                                      6
The Promise                                    6
Jane Eyre                                      6
Home                                           6
The Circle                                     6
The Forest                                     6
Macbeth                                        6
Heidi                                          6
The Confession                                 5
Stranded                                       5
                                              ..
Flicka: Country Pride                          1
Special ID                                     1
Don't Grow Up                                  1
Achmed Saves America                           1
Neuilly Yo Mama!                               1
Snowballs                                      1
Mumbai Police                                  1
Beyond Rangoon                                 1
Saippuaprinssi                                 1
Almost Mercy                                   1
Star Trek III: The Search for Spock            1
Dossier K.                                     1
Fight Club: Members Only                       1
Long Hello and Short Goodbye                   1
Motel Hell                                     1
Bloodfist                                      1
The Watcher in the Attic                       1
City Slickers                                  1
Cinemanovels                                   1
A Nightmare                                    1
A Tree Grows in Brooklyn                       1
When Did You Last See Your Father?             1
Onmyoji: The Yin Yang Master                   1
My Dear Enemy                                  1
The Flamingo Kid                               1
Uprise                                         1
Green Card                                     1
Bessie                                         1
Nobody Will Speak of Us When We're Dead        1
Love is All: 100 Years of Love & Courtship     1
Name: title, Length: 42277, dtype: int64

In [18]:
df[df['title']=='Cinderella']

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,description
993,False,"{'id': 55419, 'name': 'Cinderella Collection',...",2900000,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",http://movies.disney.com/cinderella-1950,11224,tt0042332,en,Cinderella,Cinderella has faith her dreams of a better li...,...,263591415.0,74.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The greatest love story ever told.,Cinderella,False,6.8,1760.0,Cinderella has faith her dreams of a better li...
13076,False,NaN,0,"[{'id': 10770, 'name': 'TV Movie'}, {'id': 107...",NaN,42884,tt0128996,en,Cinderella,Updated version of the classic Rodgers and Ham...,...,0.0,88.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,,Cinderella,False,6.1,28.0,Updated version of the classic Rodgers and Ham...
23507,False,NaN,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",NaN,92349,tt0003772,en,Cinderella,Based on Charles Perrault's fairy tale: Cinder...,...,0.0,52.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,,Cinderella,False,5.4,7.0,Based on Charles Perrault's fairy tale: Cinder...
23518,False,NaN,0,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",NaN,105875,tt0910852,en,Cinderella,"Cinderella, the beautiful and kind-hearted rag...",...,0.0,48.0,"[{'iso_639_1': 'af', 'name': 'Afrikaans'}]",Released,The version children love!,Cinderella,False,6.0,2.0,"Cinderella, the beautiful and kind-hearted rag..."
28391,False,NaN,0,"[{'id': 10751, 'name': 'Family'}, {'id': 10770...",http://www.betafilm.com/en/product/do/detail.h...,261985,tt1781790,en,Cenerentola,Once upon a time in post-war Rome: 13-year old...,...,0.0,180.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,,Cinderella,False,5.3,9.0,Once upon a time in post-war Rome: 13-year old...
28664,False,NaN,95000000,"[{'id': 10749, 'name': 'Romance'}, {'id': 14, ...",http://movies.disney.com/cinderella,150689,tt1661199,en,Cinderella,"When her father unexpectedly passes away, youn...",...,543514353.0,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Midnight is just the beginning.,Cinderella,False,6.7,2426.0,"When her father unexpectedly passes away, youn..."
34254,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",NaN,42651,tt0168269,ru,Zolushka,"Based on a classic fairytale ""Cinderella"" bril...",...,0.0,80.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,,Cinderella,False,4.8,5.0,"Based on a classic fairytale ""Cinderella"" bril..."
35593,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,44459,tt0129672,en,Cinderella,The first of three TV-versions of the classic ...,...,0.0,77.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,,Cinderella,False,5.9,5.0,The first of three TV-versions of the classic ...
35595,False,NaN,0,[],NaN,289673,tt0218891,en,Cinderella,Cinderella (named Zezolla) and her family live...,...,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,,Cinderella,False,5.6,5.0,Cinderella (named Zezolla) and her family live...
41074,False,NaN,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 27, 'na...",NaN,114108,tt0000230,fr,Cendrillon,A fairy godmother magically turns Cinderella's...,...,0.0,5.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,,Cinderella,False,5.5,19.0,A fairy godmother magically turns Cinderella's...
45406,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,98604,tt2147597,ru,Zolushka,"Masha Krapivina - is yet beautiful, and not th...",...,0.0,91.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,,Cinderella,False,4.6,6.0,"Masha Krapivina - is yet beautiful, and not th..."

In [19]:
df.drop_duplicates(subset='title',keep='first',inplace=True)

In [20]:
df['title'].value_counts()

Who Is Harry Nilsson (And Why Is Everybody Talkin' About Him?)            1
Ironclad                                                                  1
Larceny Inc.                                                              1
Dark Tide                                                                 1
Intolerable Cruelty                                                       1
Wife                                                                      1
September Eleven 1683                                                     1
Big Fish & Begonia                                                        1
Van Diemen's Land                                                         1
The Other Woman                                                           1
Ricky Gervais: Out of England 2 - The Stand-Up Special                    1
Swept Under                                                               1
The Aristocrats                                                           1
Everything You Always Wanted to Know About Sex *But Were Afraid to Ask    1
The Autobiography of Miss Jane Pittman                                    1
Spin the Bottle                                                           1
Mr. Socrates                                                              1
La pelle                                                                  1
The Doctor Takes a Wife                                                   1
Black Gold                                                                1
Chalet Girl                                                               1
Wanda Nevada                                                              1
Turkish Passion                                                           1
Dream                                                                     1
Anders Matthesen: Anden På Coke?                                          1
A Private Affair                                                          1
In a Town This Size                                                       1
Rough Cut                                                                 1
Talk of Angels                                                            1
Peeples                                                                   1
                                                                         ..
Princess Jellyfish                                                        1
Dog Star Man: Part I                                                      1
The Wilby Conspiracy                                                      1
One Dark Night                                                            1
Waiting for Forever                                                       1
Breakaway                                                                 1
Juvenile Court                                                            1
Wrong Turn                                                                1
Idlers of the Fertile Valley                                              1
The Unknown Soldier                                                       1
One, Two, Many                                                            1
Isle of the Snake People                                                  1
11-11-11                                                                  1
For Love and Honor                                                        1
Voices                                                                    1
Acolytes                                                                  1
Tenchi the Movie 2: The Daughter of Darkness                              1
Justice League                                                            1
Lagaan: Once Upon a Time in India                                         1
Fender Bender                                                             1
Green Light                                                               1
Dunston Checks In                                                         1
The Sky Dragon                                                            1
Patient Seven                                                             1
Trancers II: The Return of Jack Deth                                      1
Last Girl Standing                                                        1
My Dear Secretary                                                         1
Live by Night                                                             1
Night of the Demons                                                       1
Love is All: 100 Years of Love & Courtship                                1
Name: title, Length: 42277, dtype: int64

### As we might have dropped a few rows with duplicate `title` in above step, just reset the index [make sure you are not adding any new column to the dataframe while doing reset index]

In [21]:
# After dropping the duplicates the dataset shape is
df.shape

(42278, 25)

In [22]:

df.tail(3)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,description
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,,Century of Birthing,False,9.0,3.0,An artist struggles to finish his work while a...
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,0.0,87.0,[],Released,,Satan Triumphant,False,0.0,0.0,"In a small town live two brothers, one a minis..."
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,,Queerama,False,0.0,0.0,50 years after decriminalisation of homosexual...

In [23]:
df.reset_index(inplace=True)

In [24]:
df.tail(3)

,index,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,description
42275,45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,...,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,,Century of Birthing,False,9.0,3.0,An artist struggles to finish his work while a...
42276,45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,...,0.0,87.0,[],Released,,Satan Triumphant,False,0.0,0.0,"In a small town live two brothers, one a minis..."
42277,45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,...,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,,Queerama,False,0.0,0.0,50 years after decriminalisation of homosexual...

### Based on genre, movies count in the given data-set

In [25]:
df['genres'].value_counts().head()

[{'id': 18, 'name': 'Drama'}]                                      4565
[{'id': 35, 'name': 'Comedy'}]                                     3465
[{'id': 99, 'name': 'Documentary'}]                                2626
[]                                                                 2282
[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'name': 'Romance'}]    1191
Name: genres, dtype: int64

### Top 10 movies based on 'vote count'

In [26]:
df.sort_values(by='vote_count',ascending=False).head(10).title

14898                  Inception
12075            The Dark Knight
14015                     Avatar
25066                   Deadpool
21743               Interstellar
19146           Django Unchained
22528    Guardians of the Galaxy
2814                  Fight Club
17463           The Hunger Games
25057         Mad Max: Fury Road
Name: title, dtype: object

### Movies for people whose age are 18+

In [27]:
df['adult'].value_counts()

False    42269
True         9
Name: adult, dtype: int64

In [28]:
df[df['adult'] == 'True'].title

18618    Erotic Nights of the Living Dead
26989                            Standoff
29963                     Electrical Girl
30130                         Diet of Sex
37208          Amateur Porn Star Killer 2
37209                            The Band
37820                    The Sinful Dwarf
38207                          Adulterers
40126                          Half -Life
Name: title, dtype: object

In [29]:
df['spoken_languages'].value_counts()

[{'iso_639_1': 'en', 'name': 'English'}]                                                                                                                                                                                                         20852
[]                                                                                                                                                                                                                                                3575
[{'iso_639_1': 'fr', 'name': 'Français'}]                                                                                                                                                                                                         1698
[{'iso_639_1': 'ja', 'name': '日本語'}]                                                                                                                                                                                                              1236
[{'iso_639_1': 'it', 'name': 'Italiano'}]                                                                                                                                                                                                         1154
[{'iso_639_1': 'es', 'name': 'Español'}]                                                                                                                                                                                                           838
[{'iso_639_1': 'de', 'name': 'Deutsch'}]                                                                                                                                                                                                           709
[{'iso_639_1': 'ru', 'name': 'Pусский'}]                                                                                                                                                                                                           709
[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'fr', 'name': 'Français'}]                                                                                                                                                                  637
[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'es', 'name': 'Español'}]                                                                                                                                                                   545
[{'iso_639_1': 'hi', 'name': 'हिन्दी'}]                                                                                                                                                                                                            451
[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'de', 'name': 'Deutsch'}]                                                                                                                                                                   432
[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]                                                                                                                                                                                                           376
[{'iso_639_1': 'zh', 'name': '普通话'}]                                                                                                                                                                                                               321
[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'it', 'name': 'Italiano'}]                                                                                                                                                                  303
[{'iso_639_1': 'sv', 'name': 'svenska'}]                                                                                                                                                                                                           279
[{'iso_639_1': 'xx', 'name': 'No Language'}]                                                                                                                                                                                                       274
[{'iso_639_1': 'pt', 'name': 'Português'}]                                                                                                                                                                                                         260
[{'iso_639_1': 'fi', 'name': 'suomi'}]                                                                                                                                                                                                             253
[{'iso_639_1': 'pl', 'name': 'Polski'}]                                                                                                                                                                                                            197
[{'iso_639_1': 'es', 'name': 'Español'}, {'iso_639_1': 'en', 'name': 'English'}]                                                                                                                                                                   175
[{'iso_639_1': 'nl', 'name': 'Nederlands'}]                                                                                                                                                                                                        173
[{'iso_639_1': 'cn', 'name': '广州话 / 廣州話'}]                                                                                                                                                                                                         157
[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'ru', 'name': 'Pусский'}]                                                                                                                                                                   154
[{'iso_639_1': 'da', 'name': 'Dansk'}]                                                                                                                                                                                                             143
[{'iso_639_1': 'fr', 'name': 'Français'}, {'iso_639_1': 'en', 'name': 'English'}]                                                                                                                                                                  134
[{'iso_639_1': 'tr', 'name': 'Türkçe'}]                                                                                                                                                                                                            127
[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'ja', 'name': '日本語'}]                                                                                                                                                                       122
[{'iso_639_1': 'de', 'name': 'Deutsch'}, {'iso_639_1': 'en', 'name': 'English'}]                                                                                                                                                                   110
[{'iso_639_1': 'el', 'name': 'ελληνικά'}]                                                                                                                                                                                                          102
                                                                                                                                                                                                                                                 ...
[{'iso_639_1': 'de', 'name': 'Deutsch'}, {'iso_639_1': 'he', 'name': 'עִבְרִית'}]                                                                                                                                                                    1
[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'fr', 'name': 'Français'}, {'iso_639_1': 'no', 'name': 'Norsk'}, {'iso_639_1': 'sr', 'name': 'Srpski'}]                                                                                       1
[{'iso_639_1': 'el', 'name': 'ελληνικά'}, {'iso_639_1': 'fr', 'name': 'Français'}, {'iso_639_1': 'sq', 'name': 'shqip'}]                                                                                                                             1
[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'fr', 'name': 'Français'}, {'iso_639_1': 'la', 'name': 'Latin'}, {'iso_639_1': 'pl', 'name': 'Polski'}]                                                                                       1
[{'iso_639_1': 'ko', 'name': '한국어/조선말'}, {'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'es', 'name': 'Español'}, {'iso_639_1': 'ja', 'name': '日本語'}, {'iso_639_1': 'de', 'name': 'Deutsch'}, {'iso_639_1': 'fr', 'name': 'Français'}]        1
[{'iso_639_1': 'bs', 'name': 'Bosanski'}, {'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'sr', 'name': 'Srpski'}]                                                                                                                             1
[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'fr', 'name': 'Français'}, {'iso_639_1': 'de', 'name': 'Deutsch'}, {'iso_639_1': 'no', 'name': 'Norsk'}]                                                                                      1
[{'iso_639_1': 'it', 'name': 'Italiano'}, {'iso_639_1': 'de', 'name': 'Deutsch'}, {'iso_639_1': 'fr', 'name': 'Français'}, {'iso_639_1': 'pl', 'name': 'Polski'}, {'iso_639_1': 'ru', 'name': 'Pусский'}]                                            1
[{'iso_639_1': 'de', 'name': 'Deutsch'}, {'iso_639_1': 'sh', 'name': ''}, {'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'bs', 'name': 'Bosanski'}]                                                                                           1
[{'iso_639_1': 'pt', 'name': 'Português'}, {'iso_639_1': 'sr', 'name': 'Srpski'}]                                                                                                                                                                    1
[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'fi', 'name': 'suomi'}, {'iso_639_1': 'ru', 'name': 'Pусский'}]                                                                                                                               1
[{'iso_639_1': 'ar', 'name': 'العربية'}, {'iso_639_1': 'hr', 'name': 'Hrvatski'}, {'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'es', 'name': 'Español'}, {'iso_639_1': 'sv', 'name': 'svenska'}]                                            1
[{'iso_639_1': 'la', 'name': 'Latin'}, {'iso_639_1': 'es', 'name': 'Español'}]                                                                                                                                                                       1
[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'it', 'name': 'Italiano'}, {'iso_639_1': 'el', 'name': 'ελληνικά'}]                                                                                                                           1
[{'iso_639_1': 'af', 'name': 'Afrikaans'}, {'iso_639_1': 'nl', 'name': 'Nederlands'}, {'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'fr', 'name': 'Français'}]                                                                               1
[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'de', 'name': 'Deutsch'}, {'iso_639_1': 'ja', 'name': '日本語'}, {'iso_639_1': 'zh', 'name': '普通话'}]                                                                                             1
[{'iso_639_1': 'it', 'name': 'Italiano'}, {'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'de', 'name': 'Deutsch'}]                                                                                                                            1
[{'iso_639_1': 'cr', 'name': ''}, {'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'es', 'name': 'Español'}]                                                                                                                                    1
[{'iso_639_1': 'wo', 'name': 'Wolof'}, {'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'ar', 'name': 'العربية'}]                                                                                                                               1
[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'nv', 'name': ''}, {'iso_639_1': 'es', 'name': 'Español'}]                                                                                                                                    1
[{'iso_639_1': 'nl', 'name': 'Nederlands'}, {'iso_639_1': 'fr', 'name': 'Français'}, {'iso_639_1': 'de', 'name': 'Deutsch'}]                                                                                                                         1
[{'iso_639_1': 'ar', 'name': 'العربية'}, {'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'it', 'name': 'Italiano'}, {'iso_639_1': 'la', 'name': 'Latin'}]                                                                                      1
[{'iso_639_1': 'no', 'name': 'Norsk'}, {'iso_639_1': 'pl', 'name': 'Polski'}, {'iso_639_1': 'sv', 'name': 'svenska'}]                                                                                                                                1
[{'iso_639_1': 'ar', 'name': 'العربية'}, {'iso_639_1': 'id', 'name': 'Bahasa indonesia'}, {'iso_639_1': 'ja', 'name': '日本語'}, {'iso_639_1': 'en', 'name': 'English'}]                                                                                1
[{'iso_639_1': 'cn', 'name': '广州话 / 廣州話'}, {'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'fr', 'name': 'Français'}, {'iso_639_1': 'it', 'name': 'Italiano'}]                                                                                 1
[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'ja', 'name': '日本語'}, {'iso_639_1': 'zh', 'name': '普通话'}, {'iso_639_1': 'pt', 'name': 'Português'}, {'iso_639_1': 'ru', 'name': 'Pусский'}]                                                   1
[{'iso_639_1': 'sq', 'name': 'shqip'}, {'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'fr', 'name': 'Français'}]                                                                                                                              1
[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'fr', 'name': 'Français'}, {'iso_639_1': 'ka', 'name': 'ქართული'}, {'iso_639_1': 'ru', 'name': 'Pусский'}]                                                                                    1
[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'sv', 'name': 'svenska'}, {'iso_639_1': 'is', 'name': 'Íslenska'}, {'iso_639_1': 'ar', 'name': 'العربية'}]                                                                                    1
[{'iso_639_1': 'la', 'name': 'Latin'}, {'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'cn', 'name': '广州话 / 廣州話'}]                                                                                                                             1
Name: spoken_languages, Length: 1838, dtype: int64

In [30]:
df['original_language'].value_counts()

en    30064
fr     2242
it     1450
ja     1290
de     1008
es      928
ru      726
hi      483
ko      395
zh      373
sv      352
pt      294
cn      289
fi      278
nl      221
da      204
pl      203
tr      136
cs      118
el      103
fa       94
hu       92
no       91
ta       77
th       66
he       60
sr       59
ro       50
te       43
ml       33
      ...
kn        3
ky        3
ku        3
eu        3
am        2
lo        2
ne        2
iu        2
bo        2
ps        2
mn        2
af        2
pa        2
ay        1
hy        1
fy        1
la        1
lb        1
sm        1
jv        1
mt        1
eo        1
gl        1
zu        1
qu        1
uz        1
si        1
cy        1
tg        1
rw        1
Name: original_language, Length: 89, dtype: int64

### Reasoning for two different columns

In [31]:
df[(df['original_title'] == df['title']) == False].shape

(10478, 26)

In [32]:
df[(df['original_title'] == df['title']) == False].sample(3)

,index,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,description
23560,24910,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,78399,tt0195232,fr,Le Sauveur,...,0.0,90.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,,The Savior,False,5.0,3.0,"This is rural France. It's the summer of 1943,..."
2458,2479,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,22826,tt0110570,it,Il mostro,...,0.0,112.0,"[{'iso_639_1': 'it', 'name': 'Italiano'}]",Released,,The Monster,False,6.8,126.0,"A vicious serial sex killer is on the loose, a..."
14632,15203,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,31345,tt0065695,fr,L'Enfance nue,...,0.0,83.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,,Naked Childhood,False,6.4,15.0,Handed over to foster care by his mother—who's...

### Inference:
    
    It can be infered as the name suggest, Original title refer to it's country production and tiltle can be interpreted as tranlated movie into english language

### Top 10 movies w.r.t revenue

In [33]:
df.sort_values(by='revenue',ascending=False).head(10).title

14015                                          Avatar
25059                    Star Wars: The Force Awakens
1635                                          Titanic
23721                                  Jurassic World
27105                                       Furious 7
25061                         Avengers: Age of Ultron
16721    Harry Potter and the Deathly Hallows: Part 2
40277                         The Fate of the Furious
19861                                      Iron Man 3
28824                                         Minions
Name: title, dtype: object

In [34]:
df.columns

Index(['index', 'adult', 'belongs_to_collection', 'budget', 'genres',
       'homepage', 'id', 'imdb_id', 'original_language', 'original_title',
       'overview', 'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count', 'description'],
      dtype='object')

### From the above analysis, create a new data-frame with required columns

* assume the columns 'title','description','original_language','genres', shall be helpful in recommneding a movies.
* also, as in the below questions it can be inferred that the recommendation is based on the description. Hence except 'description columns dropping other columns/features

In [35]:
movie_df = df.copy()

In [36]:
movie_df = movie_df[['title','description']]
movie_df.head()

,title,description
0,Toy Story,"Led by Woody, Andy's toys live happily in his ..."
1,Jumanji,When siblings Judy and Peter discover an encha...
2,Grumpier Old Men,A family wedding reignites the ancient feud be...
3,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom..."
4,Father of the Bride Part II,Just when George Banks has recovered from his ...

### Generate tf-idf matrix using the column `description`. Consider till 3-grams, with minimum document frequency as 0.

In [37]:
tf_idf_vect = TfidfVectorizer(analyzer='word',ngram_range=(1,3),stop_words='english', min_df = 0.0)

In [38]:
tf_idf_vect.fit(movie_df['description'])
matrix = tf_idf_vect.transform(movie_df["description"])

In [39]:
matrix.shape

(42278, 2237328)

In [40]:
tf_idf_vect.vocabulary_

{'led': 1130844,
 'woody': 2185240,
 'andy': 86970,
 'toys': 2017366,
 'live': 1167418,
 'happily': 880214,
 'room': 1688716,
 'birthday': 198754,
 'brings': 239773,
 'buzz': 263314,
 'lightyear': 1156597,
 'scene': 1722397,
 'afraid': 51874,
 'losing': 1193587,
 'place': 1501681,
 'heart': 895505,
 'plots': 1516039,
 'circumstances': 336992,
 'separate': 1757333,
 'owner': 1442310,
 'duo': 581768,
 'eventually': 642917,
 'learns': 1126425,
 'aside': 119481,
 'differences': 522730,
 'led woody': 1131684,
 'woody andy': 2185258,
 'andy toys': 87192,
 'toys live': 2017434,
 'live happily': 1168306,
 'happily room': 880366,
 'room andy': 1688764,
 'andy birthday': 86989,
 'birthday brings': 198792,
 'brings buzz': 239857,
 'buzz lightyear': 263344,
 'lightyear scene': 1156600,
 'scene afraid': 1722434,
 'afraid losing': 51970,
 'losing place': 1193873,
 'place andy': 1501787,
 'andy heart': 87076,
 'heart woody': 896706,
 'woody plots': 2185288,
 'plots buzz': 1516049,
 'buzz circumstances': 263320,
 'circumstances separate': 337222,
 'separate buzz': 1757352,
 'buzz woody': 263360,
 'woody owner': 2185284,
 'owner duo': 1442602,
 'duo eventually': 581852,
 'eventually learns': 643435,
 'learns aside': 1126470,
 'aside differences': 119495,
 'led woody andy': 1131685,
 'woody andy toys': 2185259,
 'andy toys live': 87194,
 'toys live happily': 2017435,
 'live happily room': 1168314,
 'happily room andy': 880367,
 'room andy birthday': 1688765,
 'andy birthday brings': 86990,
 'birthday brings buzz': 198793,
 'brings buzz lightyear': 239858,
 'buzz lightyear scene': 263346,
 'lightyear scene afraid': 1156601,
 'scene afraid losing': 1722435,
 'afraid losing place': 51972,
 'losing place andy': 1193874,
 'place andy heart': 1501788,
 'andy heart woody': 87077,
 'heart woody plots': 896707,
 'woody plots buzz': 2185289,
 'plots buzz circumstances': 1516050,
 'buzz circumstances separate': 263321,
 'circumstances separate buzz': 337223,
 'separate buzz woody': 1757353,
 'buzz woody owner': 263361,
 'woody owner duo': 2185285,
 'owner duo eventually': 1442603,
 'duo eventually learns': 581853,
 'eventually learns aside': 643436,
 'learns aside differences': 1126471,
 'siblings': 1791724,
 'judy': 1057481,
 'peter': 1488552,
 'discover': 533996,
 'enchanted': 610878,
 'board': 209339,
 'game': 794308,
 'opens': 1424733,
 'door': 560563,
 'magical': 1220413,
 'world': 2192775,
 'unwittingly': 2082596,
 'invite': 1013603,
 'alan': 64247,
 'adult': 45110,
 'trapped': 2026715,
 'inside': 995699,
 '26': 16700,
 'years': 2212353,
 'living': 1173988,
 'hope': 936443,
 'freedom': 771977,
 'finish': 736030,
 'proves': 1572596,
 'risky': 1673149,
 'running': 1698826,
 'giant': 815732,
 'rhinoceroses': 1663716,
 'evil': 645068,
 'monkeys': 1321680,
 'terrifying': 1970300,
 'creatures': 430978,
 'roll': 1684342,
 'dice': 518908,
 'unleash': 2076906,
 'excitement': 650448,
 'siblings judy': 1791788,
 'judy peter': 1057557,
 'peter discover': 1488664,
 'discover enchanted': 534339,
 'enchanted board': 610881,
 'board game': 209460,
 'game opens': 795126,
 'opens door': 1424815,
 'door magical': 560826,
 'magical world': 1220811,
 'world unwittingly': 2198486,
 'unwittingly invite': 2082660,
 'invite alan': 1013606,
 'alan adult': 64248,
 'adult trapped': 45414,
 'trapped inside': 2026987,
 'inside game': 995979,
 'game 26': 794317,
 '26 years': 16758,
 'years living': 2214895,
 'living room': 1175621,
 'room alan': 1688752,
 'alan hope': 64348,
 'hope freedom': 936673,
 'freedom finish': 772179,
 'finish game': 736085,
 'game proves': 795216,
 'proves risky': 1572849,
 'risky running': 1673198,
 'running giant': 1699032,
 'giant rhinoceroses': 816070,
 'rhinoceroses evil': 1663719,
 'evil monkeys': 646018,
 'monkeys terrifying': 1321702,
 'terrifying creatures': 1970359,
 'creatures roll': 431253,
 'roll dice': 1684402,
 'dice unleash': 518939,
 'unleash excitement': 2076934,
 'siblings judy peter': 1791789,
 'judy peter discover': 1057558,
 'peter discover enchanted': 1488665,
 'discover enchanted board': 534340,
 'enchanted board game': 610882,
 'board game opens': 209465,
 'game opens door': 795127,
 'opens door magical': 1424820,
 'door magical world': 560827,
 'magical world unwittingly': 1220820,
 'world unwittingly invite': 2198487,
 'unwittingly invite alan': 2082661,
 'invite alan adult': 1013607,
 'alan adult trapped': 64249,
 'adult trapped inside': 45415,
 'trapped inside game': 2027001,
 'inside game 26': 995980,
 'game 26 years': 794318,
 '26 years living': 16761,
 'years living room': 2214902,
 'living room alan': 1175622,
 'room alan hope': 1688753,
 'alan hope freedom': 64349,
 'hope freedom finish': 936674,
 'freedom finish game': 772180,
 'finish game proves': 736086,
 'game proves risky': 795217,
 'proves risky running': 1572850,
 'risky running giant': 1673199,
 'running giant rhinoceroses': 1699033,
 'giant rhinoceroses evil': 816071,
 'rhinoceroses evil monkeys': 1663720,
 'evil monkeys terrifying': 646019,
 'monkeys terrifying creatures': 1321703,
 'terrifying creatures roll': 1970361,
 'creatures roll dice': 431254,
 'roll dice unleash': 1684403,
 'dice unleash excitement': 518940,
 'family': 678656,
 'wedding': 2148330,
 'reignites': 1627454,
 'ancient': 85043,
 'feud': 710283,
 'neighbors': 1374628,
 'fishing': 738492,
 'buddies': 251900,
 'john': 1045873,
 'max': 1266244,
 'sultry': 1917641,
 'italian': 1022860,
 'divorcée': 546480,
 'restaurant': 1650245,
 'local': 1177991,
 'bait': 150920,
 'shop': 1784976,
 'alarming': 64542,
 'locals': 1179994,
 'worry': 2199892,
 'll': 1176465,
 'scare': 1721617,
 'fish': 737995,
 'away': 142626,
 'interested': 1003512,
 'seafood': 1735699,
 'cooking': 407875,
 'hot': 943464,
 'time': 1992353,
 'yelling': 2216797,
 'fighting': 715542,
 'ready': 1606738,
 'love': 1197885,
 'family wedding': 684840,
 'wedding reignites': 2148837,
 'reignites ancient': 1627455,
 'ancient feud': 85248,
 'feud door': 710302,
 'door neighbors': 560874,
 'neighbors fishing': 1374691,
 'fishing buddies': 738507,
 'buddies john': 251989,
 'john max': 1046884,
 'max sultry': 1266680,
 'sultry italian': 1917658,
 'italian divorcée': 1023030,
 'divorcée opens': 546499,
 'opens restaurant': 1424965,
 'restaurant local': 1650427,
 'local bait': 1178085,
 'bait shop': 150953,
 'shop alarming': 1784989,
 'alarming locals': 64563,
 'locals worry': 1180224,
 'worry ll': 2199936,
 'll scare': 1177050,
 'scare fish': 1721635,
 'fish away': 738000,
 'away interested': 143513,
 'interested seafood': 1003704,
 'seafood cooking': 1735700,
 'cooking hot': 407932,
 'hot time': 943880,
 'time max': 1995424,
 'max yelling': 1266754,
 'yelling fighting': 2216800,
 'fighting ready': 716091,
 'ready love': 1607004,
 'family wedding reignites': 684845,
 'wedding reignites ancient': 2148838,
 'reignites ancient feud': 1627456,
 'ancient feud door': 85249,
 'feud door neighbors': 710303,
 'door neighbors fishing': 560875,
 'neighbors fishing buddies': 1374692,
 'fishing buddies john': 738508,
 'buddies john max': 251990,
 'john max sultry': 1046886,
 'max sultry italian': 1266681,
 'sultry italian divorcée': 1917659,
 'italian divorcée opens': 1023032,
 'divorcée opens restaurant': 546500,
 'opens restaurant local': 1424966,
 'restaurant local bait': 1650428,
 'local bait shop': 1178086,
 'bait shop alarming': 150954,
 'shop alarming locals': 1784990,
 'alarming locals worry': 64564,
 'locals worry ll': 1180225,
 'worry ll scare': 2199937,
 'll scare fish': 1177051,
 'scare fish away': 1721636,
 'fish away interested': 738001,
 'away interested seafood': 143514,
 'interested seafood cooking': 1003705,
 'seafood cooking hot': 1735701,
 'cooking hot time': 407933,
 'hot time max': 943881,
 'time max yelling': 1995425,
 'max yelling fighting': 1266755,
 'yelling fighting ready': 2216801,
 'fighting ready love': 716092,
 'cheated': 317698,
 'mistreated': 1311286,
 'stepped': 1874798,
 'women': 2180338,
 'holding': 925514,
 'breath': 234936,
 'waiting': 2122237,
 'elusive': 603864,
 'good': 838376,
 'man': 1232380,
 'break': 232813,
 'string': 1897617,
 'stellar': 1873737,
 'lovers': 1207079,
 'friends': 779037,
 'confidants': 390171,
 'vannah': 2094385,
 'bernie': 187133,
 'glo': 829136,
 'robin': 1679593,
 'talk': 1947869,
 'determined': 512231,
 'better': 190811,
 'way': 2140344,
 'breathe': 234991,
 'people': 1476051,
 'let': 1139642,
 'forget': 760251,
 'cheated mistreated': 317731,
 'mistreated stepped': 1311314,
 'stepped women': 1874834,
 'women holding': 2181429,
 'holding breath': 925529,
 'breath waiting': 234984,
 'waiting elusive': 2122352,
 'elusive good': 603919,
 'good man': 839223,
 'man break': 1233150,
 'break string': 233542,
 'string stellar': 1897741,
 'stellar lovers': 1873749,
 'lovers friends': 1207222,
 'friends confidants': 779666,
 'confidants vannah': 390176,
 'vannah bernie': 2094386,
 'bernie glo': 187152,
 'glo robin': 829139,
 'robin talk': 1679761,
 'talk determined': 1947946,
 'determined better': 512286,
 'better way': 191374,
 'way breathe': 2140692,
 'breathe friends': 235000,
 'friends people': 781609,
 'people let': 1477820,
 'let let': 1139956,
 'let forget': 1139831,
 'cheated mistreated stepped': 317732,
 'mistreated stepped women': 1311315,
 'stepped women holding': 1874835,
 'women holding breath': 2181430,
 'holding breath waiting': 925530,
 'breath waiting elusive': 234985,
 'waiting elusive good': 2122353,
 'elusive good man': 603920,
 'good man break': 839225,
 'man break string': 1233151,
 'break string stellar': 233543,
 'string stellar lovers': 1897742,
 'stellar lovers friends': 1873750,
 'lovers friends confidants': 1207223,
 'friends confidants vannah': 779667,
 'confidants vannah bernie': 390177,
 'vannah bernie glo': 2094387,
 'bernie glo robin': 187153,
 'glo robin talk': 829140,
 'robin talk determined': 1679762,
 'talk determined better': 1947947,
 'determined better way': 512287,
 'better way breathe': 191375,
 'way breathe friends': 2140693,
 'breathe friends people': 235001,
 'friends people let': 781610,
 'people let let': 1477821,
 'let let forget': 1139957,
 'just': 1060846,
 'george': 807349,
 'banks': 156397,
 'recovered': 1619840,
 'daughter': 461258,
 'receives': 1615440,
 'news': 1384799,
 'pregnant': 1541605,
 'wife': 2159020,
 'nina': 1392472,
 'expecting': 654858,
 'planning': 1507485,
 'selling': 1751677,
 'home': 928590,
 'plan': 1504709,
 'like': 1156652,
 'change': 307546,
 'arrival': 112257,
 'grandchild': 846470,
 'kid': 1075492,
 'normal': 1395721,
 'surprise': 1925565,
 'life': 1144592,
 'just george': 1061897,
 'george banks': 807393,
 'banks recovered': 156476,
 'recovered daughter': 1619845,
 'daughter wedding': 464506,
 'wedding receives': 2148829,
 'receives news': 1615634,
 'news pregnant': 1385127,
 'pregnant george': 1541769,
 'george wife': 808070,
 'wife nina': 2161752,
 'nina expecting': 1392530,
 'expecting planning': 654922,
 'planning selling': 1507702,
 'selling home': 1751869,
 'home plan': 931019,
 'plan like': 1505258,
 'like george': 1157554,
 'george change': 807474,
 'change arrival': 307594,
 'arrival grandchild': 112402,
 'grandchild kid': 846475,
 'kid just': 1075782,
 'just world': 1063919,
 'world normal': 2196513,
 'normal surprise': 1396029,
 'surprise life': 1925710,
 'just george banks': 1061898,
 'george banks recovered': 807394,
 'banks recovered daughter': 156477,
 'recovered daughter wedding': 1619846,
 'daughter wedding receives': 464511,
 'wedding receives news': 2148830,
 'receives news pregnant': 1615642,
 'news pregnant george': 1385128,
 'pregnant george wife': 1541771,
 'george wife nina': 808072,
 'wife nina expecting': 2161753,
 'nina expecting planning': 1392531,
 'expecting planning selling': 654923,
 'planning selling home': 1507703,
 'selling home plan': 1751871,
 'home plan like': 931020,
 'plan like george': 1505259,
 'like george change': 1157558,
 'george change arrival': 807475,
 'change arrival grandchild': 307595,
 'arrival grandchild kid': 112403,
 'grandchild kid just': 846476,
 'kid just world': 1075786,
 'just world normal': 1063920,
 'world normal surprise': 2196514,
 'normal surprise life': 1396030,
 'obsessive': 1406619,
 'master': 1260882,
 'thief': 1978246,
 'neil': 1375138,
 'mccauley': 1268346,
 'leads': 1123133,
 'notch': 1397990,
 'crew': 431956,
 'various': 2094910,
 'insane': 994963,
 'heists': 900407,
 'los': 1192131,
 'angeles': 87870,
 'mentally': 1286658,
 'unstable': 2080742,
 'detective': 510486,
 'vincent': 2110249,
 'hanna': 877608,
 'pursues': 1581440,
 'rest': 1649787,
 'recognizes': 1617742,
 'respects': 1648847,
 'ability': 24022,
 'dedication': 488928,
 'aware': 142389,
 'cat': 291657,
 'mouse': 1334776,
 'end': 612717,
 'violence': 2110935,
 'crime': 433169,
 'saga': 1706951,
 'obsessive master': 1406682,
 'master thief': 1261626,
 'thief neil': 1978519,
 'neil mccauley': 1375200,
 'mccauley leads': 1268347,
 'leads notch': 1123933,
 'notch crew': 1397997,
 'crew various': 432927,
 'various insane': 2095172,
 'insane heists': 995052,
 'heists los': 900416,
 'los angeles': 1192136,
 'angeles mentally': 88297,
 'mentally unstable': 1286775,
 'unstable detective': 2080753,
 'detective vincent': 511548,
 'vincent hanna': 2110341,
 'hanna pursues': 877660,
 'pursues rest': 1581588,
 'rest man': 1650019,
 'man recognizes': 1238091,
 'recognizes respects': 1617787,
 'respects ability': 1648848,
 'ability dedication': 24072,
 'dedication aware': 488929,
 'aware cat': 142411,
 'cat mouse': 291924,
 'mouse game': 1334837,
 'game end': 794662,
 'end violence': 614347,
 'violence los': 2111308,
 'angeles crime': 88017,
 'crime saga': 434287,
 'obsessive master thief': 1406683,
 'master thief neil': 1261633,
 'thief neil mccauley': 1978520,
 'neil mccauley leads': 1375201,
 'mccauley leads notch': 1268348,
 'leads notch crew': 1123934,
 'notch crew various': 1397998,
 'crew various insane': 432928,
 'various insane heists': 2095173,
 'insane heists los': 995053,
 'heists los angeles': 900417,
 'los angeles mentally': 1192334,
 'angeles mentally unstable': 88298,
 'mentally unstable detective': 1286778,
 'unstable detective vincent': 2080754,
 'detective vincent hanna': 511549,
 'vincent hanna pursues': 2110342,
 'hanna pursues rest': 877661,
 'pursues rest man': 1581589,
 'rest man recognizes': 1650020,
 'man recognizes respects': 1238093,
 'recognizes respects ability': 1617788,
 'respects ability dedication': 1648849,
 'ability dedication aware': 24073,
 'dedication aware cat': 488930,
 'aware cat mouse': 142412,
 'cat mouse game': 291936,
 'mouse game end': 1334845,
 'game end violence': 794667,
 'end violence los': 614349,
 'violence los angeles': 2111309,
 'los angeles crime': 1192202,
 'angeles crime saga': 88018,
 'ugly': 2059961,
 'duckling': 580037,
 'having': 888997,
 'undergone': 2066919,
 'remarkable': 1636259,
 'harbors': 881886,
 'feelings': 704786,
 'crush': 441515,
 'carefree': 282546,
 'playboy': 1510966,
 'business': 259452,
 'focused': 746589,
 'brother': 244708,
 'say': 1719816,
 'cordially': 411025,
 'invited': 1013671,
 'surprising': 1926050,
 'merger': 1288216,
 'year': 2209528,
 'ugly duckling': 2059986,
 'duckling having': 580048,
 'having undergone': 890160,
 'undergone remarkable': 2066926,
 'remarkable change': 1636288,
 'change harbors': 307893,
 'harbors feelings': 881901,
 'feelings crush': 704865,
 'crush carefree': 441551,
 'carefree playboy': 282622,
 'playboy business': 1510985,
 'business focused': 259912,
 'focused brother': 746596,
 'brother say': 246548,
 'say cordially': 1719863,
 'cordially invited': 411026,
 'invited surprising': 1013869,
 'surprising merger': 1926119,
 'merger year': 1288227,
 'ugly duckling having': 2059989,
 'duckling having undergone': 580049,
 'having undergone remarkable': 890161,
 'undergone remarkable change': 2066927,
 'remarkable change harbors': 1636289,
 'change harbors feelings': 307894,
 'harbors feelings crush': 881902,
 'feelings crush carefree': 704866,
 'crush carefree playboy': 441552,
 'carefree playboy business': 282623,
 'playboy business focused': 1510986,
 'business focused brother': 259913,
 'focused brother say': 746597,
 'brother say cordially': 246549,
 'say cordially invited': 1719864,
 'cordially invited surprising': 411029,
 'invited surprising merger': 1013870,
 'surprising merger year': 1926120,
 'mischievous': 1306517,
 'young': 2220326,
 'boy': 224739,
 'tom': 2003635,
 'sawyer': 1719703,
 'witnesses': 2173367,
 'murder': 1343407,
 'deadly': 474479,
 'injun': 992433,
 'joe': 1044610,
 'huckleberry': 950273,
 'finn': 736559,
 'future': 790007,
 'choose': 329498,
 'honoring': 935322,
 'friendship': 782904,
 'oath': 1404112,
 'town': 2012564,
 'alcoholic': 65805,
 'accused': 32565,
 'huck': 950247,
 'adventures': 47669,
 'trying': 2047426,
 'retrieve': 1654194,
 'evidence': 644574,
 'original': 1432984,
 'bad': 148976,
 'boys': 228706,
 'mischievous young': 1306619,
 'young boy': 2220936,
 'boy tom': 227065,
 'tom sawyer': 2004258,
 'sawyer witnesses': 1719724,
 'witnesses murder': 2173556,
 'murder deadly': 1343870,
 'deadly injun': 474862,
 'injun joe': 992434,
 'joe tom': 1045304,
 'tom friends': 2003909,
 'friends huckleberry': 780738,
 'huckleberry finn': 950274,
 'finn boy': 736562,
 'boy future': 225608,
 'future family': 790373,
 'family tom': 684349,
 'tom choose': 2003772,
 'choose honoring': 329634,
 'honoring friendship': 935333,
 'friendship honoring': 783329,
 'honoring oath': 935340,
 'oath town': 1404137,
 'town alcoholic': 2012670,
 'alcoholic accused': 65806,
 'accused murder': 32762,
 'murder tom': 1345328,
 'tom huck': 2003987,
 'huck adventures': 950248,
 'adventures trying': 48209,
 'trying retrieve': 2048455,
 'retrieve evidence': 1654244,
 'evidence original': 644817,
 'original bad': 1433026,
 'bad boys': 149095,
 'mischievous young boy': 1306620,
 'young boy tom': 2221083,
 'boy tom sawyer': 227066,
 'tom sawyer witnesses': 2004263,
 'sawyer witnesses murder': 1719725,
 'witnesses murder deadly': 2173560,
 'murder deadly injun': 1343871,
 'deadly injun joe': 474863,
 'injun joe tom': 992435,
 'joe tom friends': 1045305,
 'tom friends huckleberry': 2003910,
 'friends huckleberry finn': 780739,
 'huckleberry finn boy': 950275,
 'finn boy future': 736563,
 'boy future family': 225610,
 'future family tom': 790376,
 'family tom choose': 684351,
 'tom choose honoring': 2003773,
 'choose honoring friendship': 329635,
 'honoring friendship honoring': 935334,
 'friendship honoring oath': 783330,
 'honoring oath town': 935341,
 'oath town alcoholic': 1404138,
 'town alcoholic accused': 2012671,
 'alcoholic accused murder': 65807,
 'accused murder tom': 32796,
 'murder tom huck': 1345329,
 'tom huck adventures': 2003988,
 'huck adventures trying': 950249,
 'adventures trying retrieve': 48211,
 'trying retrieve evidence': 2048456,
 'retrieve evidence original': 1654245,
 'evidence original bad': 644818,
 'original bad boys': 1433027,
 'international': 1004584,
 'action': 35297,
 'superstar': 1921932,
 'jean': 1034527,
 'claude': 347382,
 'van': 2093464,
 'damme': 452212,
 'teams': 1958263,
 'powers': 1538141,
 'boothe': 218132,
 'tension': 1968160,
 'packed': 1445114,
 'suspense': 1931423,
 'thriller': 1987238,
 'set': 1763688,
 'drop': 576216,
 'stanley': 1859874,
 'cup': 444903,
 'portrays': 1530409,
 'father': 693712,
 'suddenly': 1913359,
 'taken': 1940171,
 'championship': 305735,
 'hockey': 924553,
 'captors': 277247,
 'demanding': 495730,
 'billion': 196101,
 'dollars': 556807,
 'frantically': 769564,
 'sets': 1766661,
 'motion': 1332403,
 'rescue': 1643835,
 'abort': 25255,
 'impending': 974048,
 'explosion': 660809,
 'final': 728643,
 'buzzer': 263376,
 'terror': 1971031,
 'goes': 832446,
 'overtime': 1441413,
 'international action': 1004589,
 'action superstar': 36108,
 'superstar jean': 1921998,
 'jean claude': 1034571,
 'claude van': 347480,
 'van damme': 2093530,
 'damme teams': 452232,
 'teams powers': 1958489,
 'powers boothe': 1538186,

In [41]:
# Find vocabulary
features = tf_idf_vect.get_feature_names()
features

['00',
 '00 agent',
 '00 agent dead',
 '00 body',
 '00 body vanish',
 '00 editor',
 '00 editor jabez',
 '00 foot',
 '00 foot tall',
 '00 furnish',
 '00 furnish ascent',
 '00 joey',
 '00 joey stabbed',
 '00 middle',
 '00 middle dance',
 '00 movie',
 '00 movie andre',
 '00 pm',
 '00 pm august',
 '00 pm clock',
 '00 rescue',
 '00 rescue dr',
 '00 schneider',
 '00 schneider asked',
 '000',
 '000 00',
 '000 00 editor',
 '000 000',
 '000 000 000',
 '000 000 american',
 '000 000 bloody',
 '000 000 brazilian',
 '000 000 cash',
 '000 000 citizens',
 '000 000 debt',
 '000 000 dollars',
 '000 000 fmk',
 '000 000 gambling',
 '000 000 instead',
 '000 000 instructions',
 '000 000 kroner',
 '000 000 make',
 '000 000 people',
 '000 000 pounds',
 '000 000 rebuild',
 '000 000 stashed',
 '000 000 stolen',
 '000 000 tournament',
 '000 000 worth',
 '000 000 years',
 '000 24',
 '000 24 hours',
 '000 30',
 '000 30 000',
 '000 50',
 '000 50 000',
 '000 accept',
 '000 accept denard',
 '000 additional',
 '000 additional tons',
 '000 aliens',
 '000 aliens newcomers',
 '000 american',
 '000 american hoods',
 '000 american volunteers',
 '000 americans',
 '000 amphetamines',
 '000 amphetamines csb',
 '000 animals',
 '000 animals wrong',
 '000 anti',
 '000 anti homosexual',
 '000 apply',
 '000 apply 200',
 '000 army',
 '000 army rider',
 '000 artists',
 '000 artists nazi',
 '000 athletes',
 '000 athletes high',
 '000 attractive',
 '000 attractive young',
 '000 australia',
 '000 australia things',
 '000 babies',
 '000 babies born',
 '000 ballard',
 '000 ballard seeks',
 '000 bands',
 '000 bands disgusting',
 '000 bank',
 '000 bank close',
 '000 bank robbery',
 '000 bank works',
 '000 best',
 '000 best friend',
 '000 bet',
 '000 bet supplies',
 '000 bet write',
 '000 biceps',
 '000 biceps 000',
 '000 bikinis',
 '000 bikinis know',
 '000 black',
 '000 black men',
 '000 bloody',
 '000 bloody past',
 '000 bottles',
 '000 bottles whisky',
 '000 boxes',
 '000 boxes meticulously',
 '000 boys',
 '000 boys including',
 '000 brazilian',
 '000 brazilian real',
 '000 brothers',
 '000 brothers sisters',
 '000 buried',
 '000 buried california',
 '000 buy',
 '000 buy land',
 '000 bystanders',
 '000 bystanders besieged',
 '000 calls',
 '000 calls month',
 '000 cash',
 '000 cash 30',
 '000 cash decide',
 '000 cash prize',
 '000 charity',
 '000 charity chairs',
 '000 chinese',
 '000 chinese nanjing',
 '000 chinese restaurants',
 '000 citizens',
 '000 colleges',
 '000 colleges million',
 '000 contestants',
 '000 contestants flock',
 '000 conversations',
 '000 conversations overheard',
 '000 criminals',
 '000 criminals working',
 '000 cross',
 '000 cross burnings',
 '000 cruise',
 '000 cruise ships',
 '000 date',
 '000 date plan',
 '000 days',
 '000 days ago',
 '000 days peace',
 '000 dead',
 '000 dead countries',
 '000 deaths',
 '000 deaths occupied',
 '000 debt',
 '000 debt bank',
 '000 debt durell',
 '000 debt going',
 '000 debt problem',
 '000 decides',
 '000 decides return',
 '000 deposited',
 '000 deposited solicitor',
 '000 disabled',
 '000 disabled sailors',
 '000 distance',
 '000 distance confrontation',
 '000 dm',
 '000 dm subway',
 '000 dollars',
 '000 dollars cash',
 '000 dollars overtaken',
 '000 dollars stolen',
 '000 dotting',
 '000 dotting nation',
 '000 dream',
 '000 dream house',
 '000 eye',
 '000 eye operation',
 '000 eyes',
 '000 eyes looked',
 '000 families',
 '000 families live',
 '000 fans',
 '000 fans consol',
 '000 fans flocked',
 '000 fans state',
 '000 fathoms',
 '000 fathoms 1953',
 '000 fearing',
 '000 fearing story',
 '000 feet',
 '000 feet alaska',
 '000 feet atlantic',
 '000 feet child',
 '000 feet earth',
 '000 feet falling',
 '000 feet height',
 '000 feet ocean',
 '000 feet play',
 '000 feet run',
 '000 feet silent',
 '000 feet snakes',
 '000 feet travelling',
 '000 films',
 '000 films new',
 '000 films year',
 '000 finds',
 '000 finds diamonds',
 '000 fmk',
 '000 fmk meets',
 '000 followers',
 '000 followers twitter',
 '000 foot',
 '000 foot fall',
 '000 foot mountain',
 '000 foot submarine',
 '000 forbidden',
 '000 forbidden fellow',
 '000 francs',
 '000 francs national',
 '000 francs rid',
 '000 francs tapes',
 '000 french',
 '000 french soldiers',
 '000 french youth',
 '000 fulfill',
 '000 fulfill dream',
 '000 gallons',
 '000 gallons water',
 '000 gambling',
 '000 gambling syndicate',
 '000 gang',
 '000 gang gang',
 '000 gang members',
 '000 girl',
 '000 girl meets',
 '000 girls',
 '000 girls forced',
 '000 gold',
 '000 gold bars',
 '000 gold blackmail',
 '000 gold guarded',
 '000 gone',
 '000 gone american',
 '000 grand',
 '000 grand prize',
 '000 greeks',
 '000 greeks troy',
 '000 grueling',
 '000 grueling miles',
 '000 gunpoint',
 '000 gunpoint captain',
 '000 head',
 '000 head cattle',
 '000 hidden',
 '000 hidden days',
 '000 hide',
 '000 hide money',
 '000 hits',
 '000 hits age',
 '000 hock',
 '000 hock turn',
 '000 hour',
 '000 hour price',
 '000 hours',
 '000 hours training',
 '000 hours video',
 '000 hybrid',
 '000 hybrid rattlesnakes',
 '000 impersonates',
 '000 impersonates man',
 '000 indian',
 '000 indian hating',
 '000 indie',
 '000 indie record',
 '000 innocent',
 '000 innocent children',
 '000 instead',
 '000 instead expected',
 '000 instructions',
 '000 instructions check',
 '000 intending',
 '000 intending deposit',
 '000 investor',
 '000 investor shadowy',
 '000 involved',
 '000 involved attractive',
 '000 israelis',
 '000 israelis arabs',
 '000 jackpot',
 '000 jackpot sour',
 '000 jarret',
 '000 jarret gang',
 '000 jeff',
 '000 jeff pay',
 '000 jews',
 '000 jews squeeze',
 '000 jobs',
 '000 jobs details',
 '000 john',
 '000 john friend',
 '000 kids',
 '000 kids adults',
 '000 kill',
 '000 kill intrigued',
 '000 killed',
 '000 killed killer',
 '000 kilometers',
 '000 kilometers social',
 '000 kilometre',
 '000 kilometre country',
 '000 kilometre road',
 '000 kroner',
 '000 kroner supposed',
 '000 latvians',
 '000 latvians melanie',
 '000 laughs',
 '000 laughs sea',
 '000 lay',
 '000 lay begging',
 '000 leagues',
 '000 leagues sea',
 '000 leave',
 '000 leave town',
 '000 life',
 '000 life savings',
 '000 life things',
 '000 light',
 '000 light year',
 '000 limited',
 '000 limited cinematic',
 '000 lobbyists',
 '000 lobbyists eu',
 '000 loser',
 '000 loser endure',
 '000 lost',
 '000 lost son',
 '000 lottery',
 '000 lottery enable',
 '000 machine',
 '000 machine sentinels',
 '000 make',
 '000 make suicide',
 '000 manage',
 '000 manage live',
 '000 mark',
 '000 mark instead',
 '000 marks',
 '000 marks leaves',
 '000 men',
 '000 men city',
 '000 men crossed',
 '000 men dead',
 '000 men join',
 '000 men missing',
 '000 mennesker',
 '000 mennesker anden',
 '000 meter',
 '000 meter race',
 '000 mexico',
 '000 mexico free',
 '000 mile',
 '000 mile journey',
 '000 mile migration',
 '000 mile million',
 '000 mile return',
 '000 miles',
 '000 miles away',
 '000 miles center',
 '000 miles earth',
 '000 miles game',
 '000 miles hinterlands',
 '000 miles perform',
 '000 miles running',
 '000 miles sea',
 '000 miles starring',
 '000 miles unspoilt',
 '000 mob',
 '000 mob robbery',
 '000 money',
 '000 money michael',
 '000 money missing',
 '000 money production',
 '000 money unfortunately',
 '000 monthly',
 '000 monthly salary',
 '000 mortgaged',
 '000 mortgaged 30',
 '000 multiple',
 '000 multiple felony',
 '000 nanking',
 '000 nanking shows',
 '000 naturally',
 '000 naturally winds',
 '000 nest',
 '000 nest egg',
 '000 new',
 '000 new babies',
 '000 nice',
 '000 nice guys',
 '000 nuclear',
 '000 nuclear weapons',
 '000 order',
 '000 order save',
 '000 ottoman',
 '000 ottoman empire',
 '000 outfit',
 '000 outfit condition',
 '000 paid',
 '000 paid arrival',
 '000 paris',
 '000 paris women',
 '000 parking',
 '000 parking lot',
 '000 passengers',
 '000 passengers days',
 '000 people',
 '000 people 23',
 '000 people 33',
 '000 people die',
 '000 people globe',
 '000 people interviews',
 '000 people lost',
 '000 people mexico',
 '000 people old',
 '000 people philadelphia',
 '000 people reported',
 '000 people sees',
 '000 people streets',
 '000 people survived',
 '000 people tattooed',
 '000 people trafficked',
 '000 people voted',
 '000 people year',
 '000 performing',
 '000 performing risqué',
 '000 person',
 '000 person event',
 '000 pieces',
 '000 pieces problem',
 '000 pills',
 '000 pills ecstasy',
 '000 players',
 '000 players 200',
 '000 porsche',
 '000 porsche unfaithful',
 '000 pound',
 '000 pound elephant',
 '000 pounds',
 '000 pounds aided',
 '000 pounds break',
 '000 pounds perfect',
 '000 prize',
 '000 prize battle',
 '000 prize jasmine',
 '000 protestors',
 '000 protestors gathered',
 '000 purse',
 '000 purse important',
 '000 question',
 '000 radio',
 '000 radio jackpot',
 '000 ransom',
 '000 ransom requested',
 '000 raped',
 '000 raped tens',
 '000 rattler',
 '000 rattler escaped',
 '000 ravenous',
 '000 ravenous fans',
 '000 real',
 '000 real murderer',
 '000 rebuild',
 '000 rebuild steve',
 '000 reels',
 '000 reels proceedings',
 '000 refugees',
 '000 refugees 488',
 '000 residents',
 '000 residents annual',
 '000 reward',
 '000 reward capture',
 '000 reward head',
 '000 richer',
 '000 richer leave',
 '000 robbery',
 '000 robbery makes',
 '000 robbery mary',
 '000 robbery sent',
 '000 rounds',
 '000 rounds ammo',
 '000 safe',
 '000 safe late',
 '000 sam',
 '000 sam father',
 '000 savings',
 '000 savings account',
 '000 say',
 '000 say 48',
 '000 score',
 '000 score trust',
 '000 set',
 '000 set free',
 '000 set kill',
 '000 ships',
 '000 ships holding',
 '000 shortage',
 '000 shortage accused',
 '000 slave',
 '000 slave workers',
 '000 slaves',
 '000 slaves monumental',
 '000 soldiers',
 '000 soldiers cavalry',
 '000 song',
 '000 song poems',
 '000 soon',
 '000 soon realizes',
 '000 spend',
 '000 spend nights',
 '000 sq',
 '000 sq miles',
 '000 square',
 '000 square foot',
 '000 square miles',
 '000 started',
 '000 started respectable',
 '000 stashed',
 '000 stashed away',
 '000 stashed loot',
 '000 stay',
 '000 stay night',
 '000 stevies',
 '000 stevies road',
 '000 stipulation',
 '000 stipulation double',
 '000 stolen',
 '000 stolen bank',
 '000 stolen gold',
 '000 stolen money',
 '000 stop',
 '000 stop closing',
 '000 story',
 '000 story involves',
 '000 stranded',
 '000 stranded countrymen',
 '000 strange',
 '000 strange love',
 '000 students',
 '000 students 2008',
 '000 surprisingly',
 '000 surprisingly coup',
 '000 surviving',
 '000 surviving manner',
 '000 survivors',
 '000 survivors seven',
 '000 taken',
 '000 taken italian',
 '000 tax',
 '000 tax free',
 '000 taxes',
 '000 taxes hilarious',
 '000 teeth',
 '000 tickets',
 '000 tickets sold',
 '000 times',
 '000 times normal',
 '000 title',
 '000 title contest',
 '000 tons',
 '000 tons highly',
 '000 took',
 '000 took 000',
 '000 tournament',
 '000 tournament change',
 '000 trapped',
 '000 trapped british',
 '000 true',
 '000 true stories',
 '000 uncle',
 '000 uncle bilal',
 '000 unforgettable',
 '000 unforgettable thrills',
 '000 units',
 '000 units debut',
 '000 uprooted',
 '000 uprooted refugees',
 '000 visitors',
 '000 visitors year',
 '000 volt',
 '000 volt shocker',
 '000 volts',
 '000 volts purely',
 '000 water',
 '000 water bills',
 '000 wedding',
 '000 wedding fund',
 '000 went',
 '000 went missing',
 '000 women',
 '000 women attended',
 '000 women raped',
 '000 worth',
 '000 worth heroin',
 '000 worth initially',
 '000 wounded',
 '000 wounded alive',
 '000 year',
 '000 year appear',
 '000 year old',
 '000 years',
 '000 years able',
 '000 years acclaimed',
 '000 years ago',
 '000 years awaiting',
 '000 years columbus',
 '000 years imhotep',
 '000 years long',
 '000 years probably',
 '000 years schooling',
 '000 years thawing',
 '000 years time',
 '000 years vatican',
 '000 years waited',
 '000 yen',
 '000 yen 236',
 '000 yen bail',
 '000 yen involved',
 '000 yen mother',
 '000 yen pay',
 '000 yuan',
 '000 yuan trusts',
 '000km',
 '000th',
 '000th anniversary',
 '000th anniversary marnie',
 '000th banjo',
 '000th banjo string',
 '000th time',
 '000th time paths',
 '000the',
 '000the movie',
 '000the movie defies',
 '001',
 '001 syrians',
 '001 syrians according',
 '00473',
 '00473 subject',
 '00473 subject prone',
 '006',
 '006 alberto',
 '006 alberto lupo',
 '007',
 '007 battles',
 '007 battles mysterious',
 '007 bionic',
 '007 bionic man',
 '007 directed',
 '007 directed stevan',
 '007 engraved',
 '007 engraved smashes',
 '007 evil',
 '007 evil mastermind',
 '007 fights',
 '007 fights urge',
 '007 household',
 '007 household number',
 '007 sean',
 '007 sean connery',
 '007 second',
 '007 second installment',
 '007 suspicious',
 '007 suspicious licensed',
 '007 takes',
 '007 takes shadows',
 '007 thriller',
 '007 thriller tomorrow',
 '007 time',
 '007 time battle',
 '008',
 '008 actually',
 '008 actually attractive',
 '009',
 '009 adapted',
 '009 adapted live',
 '009 cyborg',
 '009 cyborg follows',
 '0093',
 '0093 federation',
 '0093 federation recovered',
 '01',
 '01 bring',
 '01 bring night',
 '01 dvd',
 '01 dvd release',
 '01 emblematic',
 '01 emblematic challenge',
 '01 gaolors',
 '01 gaolors prisoners',
 '01 page',
 '01 page celestial',
 '01 pm',
 '01 pm 00',
 '01 sole',
 '01 sole survivor',
 '01 technology',
 '01 technology hides',
 '01 year',
 '01 year 01',
 '0123',
 '0123 generation',
 '0123 generation peace',
 '02',
 '02 dangerous',
 '02 dangerous soldier',
 '02 news',
 '02 news conference',
 '03',
 '03 love',
 '03 love somebody',
 '04',
 '04 character',
 '04 character study',
 '04 gore',
 '04 gore store',
 '04 low',
 '04 low life',
 '042',
 '042 driver',
 '042 driver delivers',
 '05',
 '05 05',
 '05 05 06',
 '05 06',
 '05 fortress',
 '05 fortress heart',
 '05 school',
 '05 school year',
 '05pm',
 '05pm 30th',
 '05pm 30th birthday',
 '06',
 '06 love',
 '06 love seventh',
 '06 written',
 '06 written michael',
 '07',
 '07 20',
 '07 20 2014',
 '07 flintstones',
 '07 flintstones 08',
 '07 january',
 '07 january 1972',
 '077',
 '077 film',
 '077 film series',
 '077 mission',
 '077 mission bloody',
 '077 missione',
 '077 missione bloody',
 '07am',
 '07am girls',
 '07am girls burst',
 '08',
 '08 caused',
 '08 caused possessed',
 '08 day',
 '08 day 09',
 '088',
 '088 042',
 '088 042 driver',
 '09',
 '09 43',
 '09 43 seconds',
 '09 crisis',
 '09 crisis triggered',
 '09 season',
 '09 season playing',
 '09 shadows',
 '09 shadows rain',
 '10',
 '10 000',
 '10 000 000',
 '10 000 additional',
 '10 000 americans',
 '10 000 amphetamines',
 '10 000 attractive',
 '10 000 biceps',
 '10 000 black',
 '10 000 charity',
 '10 000 cross',
 '10 000 days',
 '10 000 finds',
 '10 000 hours',
 '10 000 innocent',
 '10 000 jeff',
 '10 000 killed',
 '10 000 loser',
 '10 000 make',
 '10 000 meter',
 '10 000 miles',
 '10 000 parking',
 '10 000 people',
 '10 000 performing',
 '10 000 pills',
 '10 000 richer',
 '10 000 spend',
 '10 000 stay',
 '10 000 true',
 '10 000 visitors',
 '10 000 water',
 '10 000 women',
 '10 000 year',
 '10 000 years',
 '10 000km',
 '10 10',
 '10 10 project',
 '10 13',
 '10 13 1979',
 '10 15',
 '10 15 miles',
 '10 1792',
 '10 1792 king',
 '10 191',
 '10 191 world',
 '10 1996',
 '10 1996 follows',
 '10 2007',
 '10 2007 led',
 '10 2009',
 '10 2009 reporters',
 '10 act',
 '10 act medic',
 '10 album',
 '10 album charts',
 '10 best',
 '10 best picture',
 '10 billboards',
 '10 billboards city',
 '10 billion',
 '10 billion humans',
 '10 billion worth',
 '10 billion yen',
 '10 brothers',
 '10 brothers sisters',
 '10 cats',
 '10 cats 10',
 '10 cent',
 '10 cent stores',
 '10 children',
 '10 children marries',
 '10 chinese',
 '10 chinese 見鬼10',
 '10 chon',
 '10 chon popular',
 '10 churches',
 '10 churches burn',
 '10 clock',
 '10 clock live',
 '10 clock wire',
 '10 concerned',
 '10 concerned widening',
 '10 consider',
 '10 consider gone',
 '10 contestants',
 '10 contestants compete',
 '10 countries',
 '10 countries 80',
 '10 country',
 '10 country best',
 '10 daughter',
 '10 daughter young',
 '10 day',
 '10 day gambling',
 '10 days',
 '10 days andie',
 '10 days chief',
 '10 days editor',
 '10 days later',
 '10 days pby',
 '10 debates',
 '10 debates television',
 '10 diggstown',
 '10 diggstown men',
 '10 disc',
 '10 disc ultimate',
 '10 downing',
 '10 downing st',
 '10 easy',
 '10 easy tips',
 '10 event',
 '10 event finishes',
 '10 family',
 '10 family members',
 '10 feels',
 '10 feels bored',
 '10 feet',
 '10 feet tall',
 '10 fight',
 '10 fight die',
 '10 great',
 '10 great stars',
 '10 guy',
 '10 guy like',
 '10 head',
 '10 head auction',
 '10 hour',
 '10 hour docudrama',
 '10 hour episodes',
 '10 hour manhunt',
 '10 hours',
 '10 hours 10',
 '10 hours long',
 '10 intriguing',
 '10 intriguing different',
 '10 job',
 '10 job 30',
 '10 killer',
 '10 killer drivers',
 '10 know',
 '10 know mother',
 '10 lakhs',
 '10 lakhs worth',
 '10 led',
 '10 led colonel',
 '10 left',
 '10 left wang',
 '10 live',
 '10 live edge',
 '10 ll',
 '10 ll 11',
 '10 machine',
 '10 machine pistol',
 '10 magnitude',
 '10 magnitude richter',
 '10 meets',
 '10 meets air',
 '10 messages',
 '10 messages intended',
 '10 meter',
 '10 meter tower',
 '10 million',
 '10 million 22',
 '10 million album',
 '10 million bank',
 '10 million day',
 '10 million dollar',
 '10 million dollars',
 '10 million eighteen',
 '10 million estate',
 '10 million exchange',
 '10 million need',
 '10 million picture',
 '10 million robbery',
 '10 million step',
 '10 millionaires',
 '10 millionaires world',
 '10 millions',
 '10 millions unemployed',
 '10 mini',
 '10 mini series',
 '10 minute',
 '10 minute long',
 '10 minutes',
 '10 minutes completely',
 '10 minutes doesn',
 '10 minutes family',
 '10 minutes figure',
 '10 minutes follow',
 '10 minutes footage',
 '10 minutes joke',
 '10 minutes profit',
 '10 mission',
 '10 mission boys',
 '10 month',
 '10 month garage',
 '10 months',
 '10 months jail',
 '10 mother',
 '10 mother 14',
 '10 new',
 '10 new students',
 '10 nicknamed',
 '10 nicknamed crow',
 '10 parts',
 '10 parts covering',
 '10 people',
 '10 people finished',
 '10 people wake',
 '10 piece',
 '10 piece gospel',
 '10 pm',
 '10 pm end',
 '10 popular',
 '10 popular silly',
 '10 prisoner',
 '10 prisoner sun',
 ...]

### create cosine similarity matrix

In [42]:
cosine_sim = cosine_similarity(matrix)

In [43]:
cosine_sim.shape

(42278, 42278)

### Write a function with name `recommend` which takes `title` as argument and returns a list of 10 recommended title names in the output based on the above cosine similarities

In [44]:
# creating a Series for the movie titles so they are associated to an ordered numerical
# list I will use later to match the indexes
indices = pd.Series(movie_df['title'])
indices[:5]

0                      Toy Story
1                        Jumanji
2               Grumpier Old Men
3              Waiting to Exhale
4    Father of the Bride Part II
Name: title, dtype: object

In [45]:
# function that takes in movie title as input and returns the top 10 recommended movies
def recommend(title, cosine_sim = cosine_sim):
    
    recommended_movies = []
    
    # gettin the index of the movie that matches the title
    idx = indices[indices == title].index[0]

    # creating a Series with the similarity scores in descending order
    score_series = pd.Series(cosine_sim[idx]).sort_values(ascending = False)

    # getting the indexes of the 10 most similar movies
    top_10_indexes = list(score_series.iloc[1:11].index)
    print(top_10_indexes)
    
    # populating the list with the titles of the best 10 matching movies
    for i in top_10_indexes:
        recommended_movies.append(list(indices)[i])
        
    return recommended_movies

### Give the recommendations from above functions for movies `The Godfather` and `The Dark Knight Rises`

In [46]:
recommend('The Godfather')

[40983, 1176, 29998, 21970, 11608, 35503, 17533, 10957, 4278, 29]

['The Godfather Trilogy: 1972-1990',
 'The Godfather: Part II',
 'Honor Thy Father',
 'Blood Ties',
 'The Cave of the Yellow Dog',
 'A Mother Should Be Loved',
 'The Outside Man',
 'Household Saints',
 'Made',
 'Shanghai Triad']

In [47]:
indices[indices == 'The Godfather']

834    The Godfather
Name: title, dtype: object

In [48]:
pd.Series(cosine_sim[indices[indices == 'The Godfather'].index[0]]).sort_values(ascending=False).head(10)

834      1.000000
40983    0.174265
1176     0.147131
29998    0.095468
21970    0.050380
11608    0.045011
35503    0.043921
17533    0.042806
10957    0.038974
4278     0.034122
dtype: float64

In [49]:
recommend('The Dark Knight Rises')

[12075, 150, 1325, 3060, 585, 20389, 14924, 8993, 23890, 20195]

['The Dark Knight',
 'Batman Forever',
 'Batman Returns',
 'Batman: Mask of the Phantasm',
 'Batman',
 'Batman: Mystery of the Batwoman',
 'Batman: Under the Red Hood',
 'Batman Beyond: Return of the Joker',
 'Batman vs Dracula',
 'Batman Unmasked: The Psychology of the Dark Knight']